#-- Gitignore Files --#

# Virtual Environment
venv/

# Env Value File
core/configs/local.py
.env

# Log Files
logs/
*.log


# Editor Setting Files (Pycharm, VSCode ...)
.idea/
.vscode/

# Cache Files
__pycache__/
*.pyc

# MacOS System Files
.DS_Store
